{% extends "./lesson.html" %}
{% block content %}
<section>
    <h2 id="definition">Definiție</h2>
    <p>Asociație de lentile și oglinzi care formează imagini.</p>
    <p>Pot da:</p>
    <ul>
        <li><b>imagine reală:</b> ochiul</li>
        <li><b>imagine virtuală</b> lupa, microscopul</li>
    </ul>
</section>

<section>
    <h2 id="characteristics">Caracteristici</h2>
    <ul>
        <li><b>Mărirea liniară:</b>\( \ \beta = \frac{y_1}{y_2} \)</li>
        <li><b>Puerea:</b>\( \ P = \frac{ \tan{\alpha_2} }{y_1} \quad \alpha_2 = \text{unghiul sub care se formează imaginea finală pe instrument.} \)</li>
        <li><b>Grosismentul:</b>\( \ G = \frac{ \tan{\alpha_2} }{ \tan{\alpha_1} } \)</li>
        <li><b>Puterea de separare:</b> Capacitatea instrumentului de a forma imagini distincte pentru 2 puncte oricât de apropiate între ele</li>
    </ul>
</section>
{% endblock %}