{% extends "./lesson.html" %}
{% block content %}
    <section>
        <h2><a id="Newton" href="https://en.wikipedia.org/wiki/Isaac_Newton" target="_blank">Newton</a></h2>
        <ul>
            <li>Susținea natura corpusculară a luminii.</li>
            <li>Nu putea explica <a id="rings" href="https://en.wikipedia.org/wiki/Newton%27s_rings" target="_blank"> inelele lui Newton</a></li>
        </ul>

        <h2><a id="Huygens" href="https://en.wikipedia.org/wiki/Christiaan_Huygens" target="_blank">Huygens</a></h2>
        <ul>
            <li>Susținea natura ondulatorie a luminii, dupa chipul și asemănarea undei mecanice.</li>
            <li>Nu cunoștea lungimea de unda și nu potea explica lipsa <a id="diffraction" href="https://en.wikipedia.org/wiki/Diffraction" target="_blank">fenomenului de difracție</a>.</li>
        </ul>
    </section>

    <section>
        <h2><a id="Young" href="https://en.wikipedia.org/wiki/Thomas_Young_(scientist)" target="_blank">Thomas Young</a></h2>
        <ul>
            <li>Susține faptul că lumina este o unda longituninală ce se propagă prin eter.</li>
            <li>Determină \( \\ \lambda \simeq 10^{-7} \rm{m} \)</li>
        </ul>

        <h2><a id="Mallus" href="https://en.wikipedia.org/wiki/%C3%89tienne-Louis_Malus" target="_blank">Mallus</a></h2>
        <ul>
            <li>Descoperă <a id="polarization" href="https://en.wikipedia.org/wiki/Polarization_(waves)" target="_blank">fenomenului de polarizare</a> a luminii.</li>
            <li>Contrazice modelul undei longitudinale.</li>
        </ul>

        <h2><a id="Fresnel" href="https://en.wikipedia.org/wiki/Augustin-Jean_Fresnel" target="_blank">Fresnel</a></h2>
        <ul>
            <li>Explică fenomenul de polarizare.</li>
            <li>Arată faptul că lumina este o undă transversală.</li>
        </ul>
    </section>

    <section>
        <h2><a id="Maxwell" href="https://en.wikipedia.org/wiki/James_Clerk_Maxwell" target="_blank">Maxwell</a></h2>
        <ul>
            <li>Teoria câmpului electromagnetic \( \implies \) lumina este o undă transversală: \( c = 3 \cdotp 10^8 \ \rm{ m \cdotp s^{-1} } \)</li>
        </ul>

        <h2><a id="Hertz" href="https://en.wikipedia.org/wiki/Heinrich_Hertz" target="_blank">Hertz</a></h2>
        <ul>
            <li>Descoperă <a id="photoelectric" href="https://en.wikipedia.org/wiki/Photoelectric_effect" target="_blank">fenomenul fotoelectric</a>.</li>
        </ul>

        <h2><a id="Einstein" href="https://en.wikipedia.org/wiki/Albert_Einstein" target="_blank">Einstein</a></h2>
        <ul>
            <li>Explică legile fenomenului fotoelectric \( \implies \) lumina are natură corpusculară.</li>
        </ul>
    </section>
{% endblock %}