{% extends "./lesson.html" %}
{% block content %}
    <section>
        <h2 id="Newton">Newton</h2>
        <ul>
            <li>Susținea natura corpusculară a luminii.</li>
            <li>Nu putea explica inelele lui Newton</li>
        </ul>

        <h2 id="Huygens">Huygens</h2>
        <ul>
            <li>Susținea natura ondulatorie a luminii, dupa chipul și asemănarea undei mecanice.</li>
            <li>Nu cunoștea lungimea de unda și nu potea explica lipsa fenomenului de difracție.</li>
        </ul>
    </section>

    <section>
        <h2 id="Young">Thomas Young</h2>
        <ul>
            <li>Susține facptul că lumina este o unda longituninală ce se propagă prin eter.</li>
            <li>Determină \( \\ \lambda \simeq 10^{-7} \rm{m} \)</li>
        </ul>

        <h2 id="Mallus">Mallus</h2>
        <ul>
            <li>Descoperă fenomenului de polarizare a luminii.</li>
            <li>Contrazice modelul undei longitudinale.</li>
        </ul>

        <h2 id="Fresnel">Fresnel</h2>
        <ul>
            <li>Explică fenomenul de polarizare.</li>
            <li>Arată faptul că lumina este o undă transversală.</li>
        </ul>
    </section>

    <section>
        <h2 id="Maxwell">Maxwell</h2>
        <ul>
            <li>Teoria câmpului electromagnetic \( \implies \) lumina este o undă transversală: \( c = 3 \cdotp 10^8 \ \rm{ m \cdotp s^{-1} } \)</li>
        </ul>

        <h2 id="Hertz">Hertz</h2>
        <ul>
            <li>Descoperă fenomenul fotoelectric.</li>
        </ul>

        <h2 id="Einstein">Einstein</h2>
        <ul>
            <li>Explică legile fenomenului fotoelectric \( \implies \) lumina are natură corpusculară.</li>
        </ul>
    </section>
{% endblock %}