{% extends "./lesson.html" %}
{% block content %}
<section>
    $$
    \displaylines {
    \text{pentru} \ f_1 = x_1, \ x_2 \to \infty \ \text{avem:} \\
    - \frac{n_1}{f_1} = \frac{n_2 - n_1}{R} \implies f_1 = \frac{- n_1 R}{n_2 - n_1}
    }
    $$
</section>

<section>
    <iframe
        id="canvasIframe"
        src="ray-optics/simulator/#object-focus"
        name="targetframe"
        allowTransparency="true"
        scrolling="no"
        frameborder="0"
    >
    </iframe>
</section>
{% endblock %}