{% extends "./lesson.html" %}
{% block content %}
<section>
    $$
    \displaylines {
    \text{pentru} \ f_1 = x_1, \ x_2 \to \infty \ \text{avem:} \\
    - \frac{n_1}{f_1} = \frac{n_2 - n_1}{R} \implies f_1 = \frac{- n_1 R}{n_2 - n_1}
    }
    $$
</section>

<section>
    <div class="canvas-wrapper"><canvas id="objectFocus"></canvas></div>
</section>
{% endblock %}