{% extends "./lesson.html" %}
{% block content %}
<section>
    <li>Imaginea este <b>de aceeași parte</b> cu obiectul!</li>
</section>
<section>
    <div>
        $$
        \displaylines {
        \begin{equation}
            \left.
                \begin{aligned}

                & R \to \infty \\
                & \frac{n_2}{x_2} - \frac{n_1}{x_1} = \frac{n_2 - n_1}{R}
                
                \end{aligned}
            \right\vert
            \implies
            \begin{aligned}
                
                \frac{n_2}{x_2} = \frac{n_1}{x_1} \implies

            \end{aligned}
        \end{equation}
        \\
        \implies n_1 x_2 = n_2 x_1 \implies \beta = 1\\

        \\

        f_1 = - \infty \\
        f_2 = \infty
        }
        $$
    </div>
</section>

<section>
    <div class="canvas-wrapper"><canvas id="planeDiopter"></canvas></div>
</section>
{% endblock %}