{% extends "./lesson.html" %}
{% block content %}
<section>
    <h2>Definiție:\( \ \beta = \frac{y_2}{y_1} \)</h2>
</section>
<section>
    <div style="float: left">
        $$
        \displaylines {
        \begin{aligned}
        & \tan{i} = \frac{y_1}{- x_1} \quad \tan{i} \simeq \sin{i} \implies \sin{i} = \frac{y_1}{- x_1} \\
        & \tan{r} = \frac{- y_2}{x_2} \quad \tan{r} \simeq \sin{r} \implies \sin{r} = \frac{-y_2}{x_2} \\
        \\
        & \frac{ \sin{r} }{ \sin{i} } = \frac{- y_2}{y_1} \cdot \frac{-x_1}{x_2} \implies \beta = \frac{x_2 n_1}{x_1 n_2}
        \end{aligned}
        }
        $$
    </div>
</section>

<section>
    <iframe
        id="canvasIframe"
        src="ray-optics/simulator/#marire-liniara"
        name="targetframe"
        allowTransparency="true"
        scrolling="no"
        frameborder="0"
    >
    </iframe>
</section>
{% endblock %}