/* Header section */

header {
    font-size: 1rem;
    background-color: #245571;
    padding: .5em .5em;

	position: sticky;
	top: 0px;
	z-index: 999;
}

header a {
	display: block;
    font-size: 1.2em;
    float: left;
    text-align: center;
    padding: .25em 1.2em .25em 0;
}

.trigger {
	position: relative;
}

.popup {
	position: absolute;
	width: 14rem;
	left: -7rem;
	top: 105%;

	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000; /* Ensure popup is above other elements */
	display: none; /* Initially hide the popup */

	font-size: 1rem;
	text-align: center;
	color: black;
}

/* .trigger:hover .popup {
	display: block;
} */

/* Content section */

li {
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

b {
    font-weight: 600;
    color: #4d7b96;
}

.dropdown {
    font-size: 1rem;
    color: white;
    background-color: #4d7b96;
    height: 2em;
    border-radius: .1em;
    margin: 0px -5px 0px -5px;
}

.dropdown a {
    font-size: 1.2em;
    float: right;
    padding: .25em .75em;
}

.dropdown p {
    font-size: 1.1em;
    float: left;
    margin: 0;
    padding: .25em .75em;
}

.dropdown-content {
    margin: 0;
    padding: .5rem 0;
    display: none;
    border-color: #e3ecf5;
}

.show {
    display: block;
}