/* General styles */

* {
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 20px;
}

body {
    margin: 0px 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    color: black;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .8rem;
    color: black;
}

p {
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    text-align: justify;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

canvas {
    border-color: black;
    border-style: solid;
    /* height: 400px; */
    /* width: 100%; */
}

iframe {
    width: 100%;
    object-fit: cover;
}

/* Class styles */

.bold {
    font-weight: bold;
}

.article-mp {
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.2rem;
}

.s1-container {
    max-width: 51rem;
    margin-left: auto;
    margin-right: auto;
}

/* Media querries */

@media(max-width: 40rem) {
    .article-mp {
        display: block;
    }

    html {
        font-size: 16px;
    }

    article.nav-article {
        display: none;
    }

    div.nav-wrapper {
        font-size: 1.4rem;
    }
}